@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.font-expletus {
  font-family: 'Expletus Sans', 'Courier New', Courier, monospace !important;
}

.font-overpass-mono {
  font-family: 'Overpass Mono', 'Courier New', Courier, monospace !important;
}

.d-flex {
  display: flex;
}

.d-flex-col-center {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.x-card {
  max-width: 26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.x-card-deck {
  padding-right: 1rem;
  padding-left: 1rem;
}

#div-search-poke {
  width: 50%;
  border-width: 1px;
}

.hidden {
  display: none;
}

.x-card-img {
  width: 5rem !important;
  height: 5rem !important;
}